<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>Filter.MainFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PreFilter</filter-name>
        <filter-class>Filter.PreFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Login_FindAccountFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginCatcherFilter</filter-name>
        <filter-class>Filter.LoginCatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PreFilter</filter-name>
        <servlet-name>main</servlet-name>
        <servlet-name>delete</servlet-name>
        <servlet-name>setting</servlet-name>
        <servlet-name>TimeoutServ</servlet-name>
        <servlet-name>updateSetting</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginCatcherFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Login_FindAccountFilter</filter-name>
        <servlet-name>loginServ</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <servlet-name>main</servlet-name>
        <servlet-name>addNoti</servlet-name>
        <servlet-name>delete</servlet-name>
        <servlet-name>setting</servlet-name>
        <servlet-name>updateSetting</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>loginServ</servlet-name>
        <servlet-class>Controller.loginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>main</servlet-name>
        <jsp-file>/main.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createServ</servlet-name>
        <servlet-class>Controller.createServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotServ</servlet-name>
        <servlet-class>Controller.forgotServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirm-info</servlet-name>
        <jsp-file>/confirm-info.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ForgotCheck</servlet-name>
        <servlet-class>Controller.ForgotCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmed</servlet-name>
        <servlet-class>Controller.confirmServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNoti</servlet-name>
        <servlet-class>Controller.addNotiServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>Controller.DeleteServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setting</servlet-name>
        <jsp-file>/setting.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>TimeoutServ</servlet-name>
        <servlet-class>Controller.TimeoutServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSetting</servlet-name>
        <servlet-class>Controller.updateSettingServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServ</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createServ</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotServ</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirm-info</servlet-name>
        <url-pattern>/confirm-info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotCheck</servlet-name>
        <url-pattern>/f_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmed</servlet-name>
        <url-pattern>/confirmed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNoti</servlet-name>
        <url-pattern>/addNoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeoutServ</servlet-name>
        <url-pattern>/Timeout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSetting</servlet-name>
        <url-pattern>/updateSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setting</servlet-name>
        <url-pattern>/setting</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
